*{
    margin: 0px;
    padding: 0; 
}

html{
    height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    font-size: 20px;
}

.Contenedor{
    display: grid;
    gap: 10px;

    /*Estructura para definir columnas como se visualizan en plantilla html */
    grid-template:
    "header" 55px
    "navbar" 25px
    "main" auto
    "sidebar" 100px
    "footer" 50px;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    height: 100%;
    background-color:#EDEDED;
}

.Encabezado{
    grid-area: header;
    height: 100%;
    background-color:#F8F9F0;  
    margin: 0;
}

#logo{
    display:inline-block;
    width: 10%;
    height: 10%;
    
}

#titulo{
    display:inline-block;
    width: 88%;
    height: 10%;
    text-align:left;
    font-style:oblique;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.Menu {
    grid-area: navbar;
    height: 100%;
    margin: 0;
    background-color:rgba(8, 125, 125, 0.619);
}

#plantas{
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display:inline-table;
    font-size: 16px;
    margin: 2px 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 100%;
    width: 15%;
    font-weight: bold;
    background-color:rgba(8, 125, 125, 0.619);

}

#nosotros{
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display:inline-table;
    font-size: 16px;
    margin: 2px 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 100%;
    width: 15%;
    font-weight: bold;
    background-color:rgba(8, 125, 125, 0.619);

}

.Cuerpo {
    grid-area:main;
    background-color:EDEDED;
    margin-top: 20px;
}

.imagenes {
    width: 50%;
    height: 10%;


}

#mision-title{
    height: 6%;
    width: 100%;
    margin-left: 10px;
    text-align:center;
    font-size: 25px;
    background-color: white;    
}

#mision{
    height: 10%;
    width: 100%;
    background-color: white;
    margin-left: 10px;
    text-align:center;

    font-size: 18px;
}

#vision-title{
    height: 6%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;

    text-align:center;
    font-size: 25px;
}

#vision{
    height: 10%;
    width: 100%;
    background-color: white;
    margin-left: 10px;

    text-align:center;
    font-size: 18px;
}

#historia-title{
    height: 6%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
 
    text-align:center;
    font-size: 25px;
}

#historia{
    height: 64%;
    width: 100%;
    background-color: white;
    margin-left: 10px;
  
    text-align:center;
    font-size: 18px;
}


#pie-pag{
    height:3%;
    width:98%;
    background-color:black;
}

.img.logo{
    width: 10%;
    height: 90%;
    align-content:center;
}


