@import url('https://fonts.googleapis.com/css2?familyMontserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color:#F8F9F0;
}

.Contenedor {
    background-color:#F8F9F0;
}

#menu li > a {
    font-size:18px;
    font-weight:bold;
    color: #3f3f3f;

}
    
#menu form > button {
    font-size:18px;
    font-weight:bold;
}

.carousel-inner {
    max-height: 30rem;
}

.cuerpo{
    margin: 5px;
}

#mision-vision {
    background: #f3f3f3;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
}

#mision-vision div {
    padding: 10px 10px 0 0;
    height:280px;
}

#mision-vision div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#mision-vision div:not(:first-child) {
    padding-left:20px;
}

#mision-vision p {
    margin:0;
}

#mision {
    height: 50%;
}

#vision {
    height: 50%;
}


/* MEDIA QUERIES PANTALLA ANCHA */

@media(max-width: 1200px){
    #mision-vision {
        flex-wrap:wrap;
        padding-top: 30px;
    }
}


/* MEDIA QUERIES PANTALLA SM */
@media (max-width:768px) {
    #intro, #historia {
        width:90% !important;
    }

    #historia p {
        display:none
    }
    .servicio-fila {
        width:100% !important;
        text-align:center
    }
}

#bg-contacto{
    position:relative;
    top: -110px;
}


/* MEDIA QUERIES PANTALLA XSM */
@media (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/* CONTACTOS BACKGROUND */
#bg-contacto{
    position:relative;
    top: -130px;
}

.container{
    background-color: #00cba9;
    min-height: 400px;
    position:relative;
   
      
}

/*{
    margin: 0px;
    padding: 0; 
}

html{
    height:100%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    font-size: 20px;
    background-color:#F8F9F0;
}*/

/*.Contenedor{
    display: grid;
    gap: 10px;

    /*Estructura para definir columnas como se visualizan en plantilla html */
    /*grid-template:
    "header" 65px
    "navbar" 25px
    "main" auto
    "sidebar" 100px
    "footer" 50px;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    height: 100%;
    background-color:#F8F9F0;
}

.Encabezado{
    grid-area: header;
    height: 90%;
    background-color:#F8F9F0;  
    margin: 0;
}

#logo{
    display:inline-block;
    width: 12%;
    height: 90%;
    
}

#titulo{
    display:inline-block;
    width: 87%;
    height: 15%;
    text-align:left;
    font-style:oblique;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.Menu {
    grid-area: navbar;
    height: 100%;
    margin: 0;
    background-color:rgba(8, 125, 125, 0.619);
}

#plantas{
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display:inline-table;
    font-size: 16px;
    margin: 2px 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 100%;
    width: 15%;
    font-weight: bold;
    background-color:rgba(8, 125, 125, 0.619);

}

#nosotros{
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display:inline-table;
    font-size: 16px;
    margin: 2px 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 100%;
    width: 15%;
    font-weight: bold;
    background-color:rgba(8, 125, 125, 0.619);

}

.Cuerpo {
    grid-area:main;
    background-color:#F8F9F0;;
    margin-top: 20px;
}

.imagenes {
    width: 50%;
    height: 10%;


}

#mision-title{
    height: 6%;
    width: 100%;
    margin-left: 10px;
    text-align:center;
    font-size: 25px;
    background-color: white;    
}

#mision{
    height: 10%;
    width: 100%;
    background-color: white;
    margin-left: 10px;
    text-align:center;

    font-size: 18px;
}

#vision-title{
    height: 6%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;

    text-align:center;
    font-size: 25px;
}

#vision{
    height: 10%;
    width: 100%;
    background-color: white;
    margin-left: 10px;

    text-align:center;
    font-size: 18px;
}

#historia-title{
    height: 6%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
 
    text-align:center;
    font-size: 25px;
}

#historia{
    height: 64%;
    width: 100%;
    background-color: white;
    margin-left: 10px;
  
    text-align:center;
    font-size: 18px;
}


#pie-pag{
    height:3%;
    width:98%;
    background-color:black;
}//

.img.logo{
    width: 10%;
    height: 90%;
    align-content:center;
}*/


